@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.form-group {
    width: 100px;
    display: inline-block
}

.exercises {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.exercises > a:hover {
    text-decoration: none;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color:#333;
    height: 1px;
}

#line {
    float: left;
    width: 731px;
    height: 40px;
}

.exercise-container {
    display: flex;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    /*max-width: 20rem;*/
    flex: 1 1 21%;
    /*background-color: #94d3ff;*/
    /*background-color: #94d3ff8c;*/
    background-color: #ec991e47;
    transition: all 0.4s;
}

.exercise-container:hover {
    /*background-color: #58b1ef;*/
    background-color: #ff851e94;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.exercise-icon {
    max-width: 10rem;
    max-height: 10rem;
}

.exercise-link {
    margin-top: 0.75rem;
    color: #286090;
    font-size: 2.5rem;
    transition: all 0.4s;
}

.exercise-container:hover > .exercise-link {
    text-underline: #333333;
}

.form-group {
    align-items: center;
    width: 100%;
    max-width: 45rem;
    text-align: center;
}

.control-label {
    margin: 0;
}
#type {
    -webkit-appearance: none;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #33333363;
    border-radius: 0;
    margin-top: 0.5rem;
}

#name {
    border:none;
    box-shadow: none;
    background-color: #33333314;
    border-radius: 0;
    border-bottom: 1px solid #33333363;
    transition: all 0.15s;
    margin-top: 0.5rem;
}

#name:hover {
    background-color: #33333325;
    border-bottom: 1px solid #333;
}

.btn-default {
    background-color: rgba(134, 194, 50, 0.8);
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid #33333363;
    border-radius: 3rem;
    transition: all 0.1s ease-in-out;
    width: 100%;
    max-width: 45rem;
}

.btn-default:hover {
    background-color: rgb(134, 194, 50);
    border:1px solid #333;
}

#submit:active {
    background-color: rgb(160, 211, 64);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}