body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.exercise-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
}

.exercise-name {
    display: initial;
    margin-top: 0;
}

.progression-titles {
    display: flex;
    justify-content: space-evenly;
}
.delete-button {
    background-color: #f7817eb3;
}

.delete-button:hover {
    background-color: #f7817e;
}
.add-button {
    background-color: rgba(134, 194, 50, 0.65);
}

.add-button:hover {
    background-color: rgba(134, 194, 50, 0.8);

}

.custom-button {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    padding: 1rem 2rem;
    float: right;
    border: 1px solid #333333ab;
    border-radius: 3rem;
    transition: all 0.1s ease-in-out;
    margin-right: 2rem;
}

.custom-button:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
    border: 1px solid #333;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.25);
}

.delete-button-clicked-once {
    transition: all 0.2s ease-in-out;
}

.form-group {
    width: 150px;
    display: inline-block
}

#progressions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progression {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: #A8D0E6;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.1);
    transition: all 0.1s ease-in;
}

.progression-entry {
    align-self: center;
    /*width: 30%;*/
    /*float: left;*/
}

.progression:hover {
    cursor: pointer;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.4);

}

.progression-completed {
    background-color: #86C232;
}

.progression-to-delete {
    background-color: #f7817e;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color:#333;
    height: 1px;
}

#line {
    float: left;
    width: 731px;
    height: 40px;
}

.edit-button {
    width: 10rem;
    text-align: center;
    padding: 1rem 2rem;
    float: right;
    background-color: green;
    border: 1px solid #333;
    border-radius: 3rem;
    transition: all 0.1s ease-in-out;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.control-label {
    margin-right: 1rem;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.form-control {
    border:none;
    box-shadow: none;
    background-color: #33333314;
    border-radius: 0;
    border-bottom: 1px solid #33333363;
    transition: all 0.15s;
    margin-top: 0.5rem;
}

.form-control:hover {
    background-color: #33333325;
    border-bottom: 1px solid #333;
}

.btn-default {
    background-color: rgba(134, 194, 50, 0.8);
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid #33333363;
    border-radius: 3rem;
    transition: all 0.1s ease-in-out;
    width: 100%;
    max-width: 20rem;
}

.btn-default:hover {
    background-color: rgb(134, 194, 50);
    border:1px solid #333;
}

#submit:active {
    background-color: rgb(160, 211, 64);
}

.icon-container{
    border-right: 4px solid #333;
    margin-right: 1rem;
}
.exercise-icon {
    max-width: 10.5rem;
    max-height: 10rem;
    padding: 0.5rem;
}

.exercise-title {
    display: flex;
    flex-direction: column;
}

.mental-exercise-form > .form {
    display: block;
}

.mental-exercise-form > .form >  .form-group {
    display: inline-block;
    width: 100%;
}

.mental-exercise-form > .form > .form-group > .form-control {
    height: 15rem;
}