<div class="exercise-head">
    <div class="icon-container">
        <img class='exercise-icon' src="{{ url_for('static',filename=exercise.type + '.png') }}">
    </div>
    <div class="exercise-title">
        <h1 class="exercise-name">{{ exercise.name }}</h1>
        <a class="delete-button custom-button">Delete</a>
    </div>
</div>
<hr>
{% if exercise.type == 'mental' %}
    <div class="mental-exercise-form">
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    </div>
{% else %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endif %}

<hr>
<div id="progressions">
    <div class="progression-titles">
        <div class="progression-entry title">Sets</div>
        <div class="progression-entry">Reps</div>
        <div class="progression-entry">Weight</div>
        <div class="progression-entry">Duration</div>
    </div>
    <hr>
    {% for progression in exercise.ordered_progressions() %}
        {% include '_progression.html' %}
    {% endfor %}
</div>


{#<div class="buttons">#}
{#    <div class="add-button-container add-button custom-button">#}
{#        <img style="max-width: 2rem; max-height: 2rem; margin-right: 1rem" src="{{ url_for('static',filename='plus.png') }}">#}
{#        <a>Add</a>#}
{#    </div>#}
{#</div>#}