{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/progressions.css')}}">
{% endblock %}

{% block app_content %}
    <div class="exercise-head">
        <div class="icon-container">
            <img class='exercise-icon' src="{{ url_for('static',filename='img/' + exercise.type + '.png') }}">
        </div>
        <div class="exercise-title">
            <h1 class="exercise-name">{{ exercise.name.replace('_',' ') }}</h1>
            <a class="delete-button custom-button">Delete</a>
        </div>
    </div>
    <hr>
    {% if exercise.type == 'mental' %}
        <div class="mental-exercise-form">
            {% if form %}
            {{ wtf.quick_form(form) }}
            <br>
            {% endif %}
        </div>
    {% else %}
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    {% endif %}

    <hr>
    <div id="progressions">
        <div class="progression-titles">
            {% for field in fields %}
                <div class="progression-entry title">{{ field }}</div>
            {% endfor %}
        </div>
        <hr>
        {% for progression in exercise.ordered_progressions() %}
            {% include '_progression.html' %}
        {% endfor %}
    </div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/exercise.js') }}"></script>
{% endblock %}
