{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
{#            <td width="10rem"><img src="{{ user.avatar(256) }}"></td>#}
            <td>
                <h1>{{ _('Welcome,') }} {{ user.name }}!</h1>
            </td>
            <td></td>
        </tr>
    </table>

    {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
    {% endif %}

    <hr>

    <div class="exercises">
        {% for exercise in exercises %}
            <a href="{{ url_for('main.exercise', exercise_name=exercise.name) }}">
                <div class="exercise-container">
                    <img class='exercise-icon'  src="{{ url_for('static',filename=exercise.type + '.png') }}">
                    <div class="exercise-link">{{ exercise.name }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
{% endblock %}

